/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Asset meta files must be kept
!/[A|a]ssets/**/*.meta

# Generated VS files
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# Builds
*.apk
*.unitypackage
*.exe
